
*.backup

graph-db-repo-manger/.idea/

graph-db-repo-manger/venv/

graph-db-repo-manager/.idea/

graph-db-repo-manager/venv/

graph-db/graphdb-free-9.7.0-dist.zip

graphdb-data/

graph-db-repo-manager/config.ttl

bootstrap/graph-db/graphdb-free-9.7.0-dist.zip

bootstrap/graph-db-repo-manager/.idea/

bootstrap/graph-db-repo-manager/venv/
